//bonne ortographe des classes et des id : nom-block_nom_element_nom_modificateur_valeur_modificateur
@import "variables";
@import "pattern";
*,::before,::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100vh;
  width: 100vw;
}
//body
body{
  font-family: $Fira-code;
  color: $font-color;
  background-color: $window-color;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5vh;
}




body::-webkit-scrollbar {
  display: none;
}
.color-white{
  color: $white;
}
.color-font{
  color: $font-color;
}
.color-secondary{
  color: $secondary-color;
}
.color-tertiary{
  color: $third-color;
}
.color-quaternary{
  color: $fourth-color;
}
.color-quinary{
  color: $fifth-color;
}
p{
    font-size: 1rem;
    line-height: 1.5;
}

small{
  color: $secondary-color;
}
.border-left{
  border-left: solid $border-color 1px;
  height: 100%;
  display: flex;
  align-items: center;
}
.border-right{
  border-right: solid $border-color 1px;
  height: 100%;
  display: flex;
  align-items: center;
}
.border-bottom{
  border-bottom: solid $border-color 1px;
  height: 100%;
  display: flex;
  align-items: center;
}
.border-top{
  border-top: solid $border-color 1px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo{
  margin: 0 20px;
  width: 20px;
  height: auto;
}
.petit-logo-arrow{
  margin-left: 20px;
  width: 30px;
  height: auto;
}
.petit-logo-cross{
  margin: 0 20px;
  width: 20px;
  height: auto;
}

a{
  text-decoration: none;
  color: $font-color;
}
//portfolio-----------------------------------
#app{
  width: 100%;
  height: 100%;
  background-color: $main-color;
  border: solid $border-color 1px; ;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 60px;
}
//header-----------------------------------
header{
  grid-column: 1;
  grid-row: 1/2;
  nav{
    display: grid;
    grid-template-columns: 300px 150px 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    border-bottom: solid $border-color 1px;
    #liens{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      grid-column: 2/5;
    }
    ul{
      display: flex;
      justify-content: space-between;
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;
      a{
        padding: 0 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
          color: $secondary-color;
          transition: all 0.3s ease;
        }
      }
      .active{
        position: relative;
        .button-active{
          color: $white;
        }
        span{
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: $third-color;
          animation: transitionScale 0.3s ease;
        }
        @keyframes transitionScale {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
    #name{
      display: flex;
      align-items: center;
      margin-left: 30px;
      grid-column: 1/2;
    }
  }
  #nav-left{
    display: flex;
    align-items: center;
    height: 100%;
  }
  #nav-right{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    padding-left: 20px;
    border-left: solid #1E2D3D 1px;
    li{

    }
  }
}

//footer-----------------------------------
footer{
  grid-column: 1;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-top: solid #1E2D3D 1px;
  #footer-left{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    #find{
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  #footer-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 100%;
    padding-right: 10px;
    border-left: solid #1E2D3D 1px
  }
  .logo{
    margin: 0 10px;
    width: 30px;
    height: auto;
  }
}


//main---------------------------------------------------
.main{
  grid-column: 1;
  grid-row: 2/3;
}


//home---------------------------------------------------
#home{
  height: 100%;
  width: 100%;
  display: flex;
  #home-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #presentaion{
    #game-explain{
      margin-top: 50px;
    }
    h1{
      font-size: 62px;
      font-weight: normal;
      margin: 5px;
    }
    h2{
      font-size: 32px;
      font-weight: normal;
      margin: 5px;
    }
    p{
      margin: 5px;
    }
  }
  #home-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.carte-js{
  width: 560px;
  height: 150px;
  max-width: 560px;
  max-height: 200px;
  padding: 20px 60px 20px 20px;
  background-color: $window-color;
  border: solid $border-color 1px;
  border-radius: 8px;
  z-index: 1;
  margin: 20px;
  p{
    margin: 5px;
    font-size: 14px;
  }
}
.carte-js-opacity{
  width: 560px;
  height: 150px;
  max-width: 560px;
  max-height: 200px;
  padding: 20px 60px 20px 20px;
  background-color: $window-color;
  border: solid $border-color 1px;
  border-radius: 8px;
  z-index: 1;
  opacity: 0.5;
  margin-left: 20px;
  p{
    margin: 5px;
    font-size: 14px;
  }
}
.light-green{
  position: absolute;
  box-shadow: $fourth-color -100px -100px 10000px 100px;
  border-radius: 50%;
  z-index: 0;
}
.light-blue{
  position: absolute;
  box-shadow: $secondary-color 100px 100px 10000px 100px;
  border-radius: 50%;
  z-index: 0;
}

//patern---------------------------------------------------
.nom-page1{
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p{
    color: $white;
    padding : 0 10px;
  }
}
.nom-page2{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p{
    padding : 0 20px;
  }
}
.nom-page3{
  grid-column: 3/5;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  p{
    color: $white;
    padding : 0 10px;
  }
}
.details{
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  .logo{
    margin: 10px;
  }
  a{
    font-size: 14px;
    cursor: pointer;
  }
  span{
    cursor: pointer;
  }
}
.scroll{
  position: absolute;
  right: 0;
  height: 100%;
  width: 30px;
  span{
    position: absolute;
    top: 7px;
    width: 70%;
    height: 10px;
    margin: 0 auto;
    left: 15%;
    background-color: $font-color;
  }
}

//projets--------------------------------------------------
#projects{
  display: grid;
  grid-template-columns: 300px 220px 1fr;
  grid-template-rows: 50px 150px 50px 1fr;
  width: 100%;
  height: 100%;
  .details-projects{
    grid-column: 1/2;
    grid-row: 2/5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    .logo-projects{
      margin: 10px;
      width: 30px;
      height: auto;
    }
    .position-checkbox{
      width: 20px;
      height: 20px;
      margin: 10px 10px 10px 20px;
    }
    .checkbox {
      position: relative;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      &:hover input ~ .checkmark {
        border: solid $secondary-color 1px;
      }
      input:checked ~ .checkmark {
        background-color: $font-color;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color:  rgba(0, 0, 0, 0);
      border: solid $font-color 1px;
      border-radius: 2px;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }
    .radio{
      cursor: pointer;
      text-align: center;
      input{
        display: none;
        &+span{
          position: relative;
          &:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: 1px solid $font-color;
            background: $main-color;
          }
          &:after{
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background: $font-color;
            position: absolute;
            border-radius: 50%;
            top: 4px;
            left: 4px;
            opacity: 0;
            transform: scale(0,0);
            transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
          }
        }
        &:checked+span:after{
          opacity: 1;
          transform: scale(1,1);
        }
      }
    }
  }
}

#list-projects{
  grid-column: 2/5;
  grid-row: 2/5;
  position: relative;
}
.list-projects{
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  padding: 25px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  &::-webkit-scrollbar {
    display: none;
    width: 10px;
    border-left: 1px solid $border-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $font-color;
  }
}
  .project{
    width: 375px;
    height: 300px;
    margin: 25px;
    .card{
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      border: solid $border-color 1px;
      .img-card{
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
      }
      .logo-card-javascript{
        @include logo-card;
        background-color:  $javascript-color;
      }
      .logo-card-react{
        @include logo-card;
        background-color: $react-color;
      }
      .logo-card-vue{
        @include logo-card;
        background-color: $vuejs-color;
      }
      .logo-card-symfony{
        @include logo-card;
        background-color: $symfony-color;
      }
      .logo-card-nextjs{
        @include logo-card;
        background-color: $nextjs-color;
      }
      .logo-card-threejs{
        @include logo-card;
        background-color: $threejs-color;
      }
      .logo-card-css{
       @include logo-card;
        background-color: $css-color;
      }
      //.logo-card-html{
      //@include logo-card;
      //  background-color: #E34C26;
      //}
      .description-card{
        @include flex(column, space-between, flex-start);
        @include width-height(100%, 150px);
        flex-grow: 1;
        border-radius: 0 0 15px 15px;
        padding: 10px;
        background-color: $main-color;
        .button{
          @include padding(10px);
          @include border-radius(8px);
          @include background($border-color);
          color: $white;
          border: none;
          cursor: pointer;
          transition: all .2s ease-in-out;
          &:hover{
            @include background($secondary-color);
            transition: all .2s ease-in-out;
          }
        }
      }
    }
  }
//about---------------------------------------------------
#about{
  @include grid(300px 230px 1fr 20px, 50px 150px 50px 1fr,0);
  @include width-height(100%, 100%);
}

#description {
  grid-column: 2/5;
  grid-row: 2/5;
  display: flex;
  .description{
    @include position(relative, 0, 0, 0, 0);
    @include width-height(50%, 100%);
    display: flex;
    overflow: hidden;
    .personal-info{
      display: flex;
      width: calc(100% - 30px);
      @include padding(20px);
      overflow: hidden;
    }
  }
  .snippet{
    @include position(relative, 0, 0, 0, 0);
    @include width-height(50%, 100%);
    @include flex(0, 0, 0);
    display: flex;
    overflow: hidden;
  }
}



//contact---------------------------------------------------
#contact{
  @include grid(300px 230px 1fr 20px, 50px 100px 50px 1fr,0);
  @include width-height(100%, 100%);
}
.contact{
  grid-column: 2/5;
  grid-row: 2/5;
  display: flex;
  .formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-left: solid $border-color 1px;
    form{
      width: 70%;
    }
    input{
      @include padding(10px);
      border-radius: 8px;
      background-color: $window-color;
      color: $font-color;
      border: solid $border-color 1px;
      font-size: 1rem;
      &:focus{
        border: solid $font-color 1px !important;
      }
      &:focus-visible {
        border: solid $font-color 1px !important;
        outline: none;
      }
    }
    textarea{
      width: 100%;
      height: 200px;
      resize : none;
      padding: 10px;
      border-radius: 8px;
      background-color: $window-color;
      color: $font-color;
      border: solid $border-color 1px;
      font-size: 1rem;
      &:focus{
        border: solid $font-color 1px !important;
      }
      &:focus-visible {
        border: solid $font-color 1px !important;
        outline: none;
      }
    }
    button{
      display:inline-block;
      margin-top: 30px;
      padding: 10px;
      border-radius: 8px;
      background-color: $border-color;
      color: $white;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $secondary-color;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .form-result {
    @include width-height(50%, 1000);
    justify-content: flex-start;
  }
}