//pattern_mixin------------------------------------------------
@mixin flex($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin grid($columns, $rows, $gap){
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  grid-gap: $gap;
}
@mixin width-height($width, $height){
  width: $width;
  height: $height;
}
@mixin margin($margin){
  margin: $margin;
}
@mixin padding($padding){
  padding: $padding;
}
@mixin font($size, $weight, $color){
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin border($width, $style, $color){
  border: $width $style $color;
}
@mixin border-radius($radius){
  border-radius: $radius;
}
@mixin background($color){
  background: $color;
}
@mixin color ($color){
  color: $color;
}
@mixin transition($transition){
  transition: $transition;
}
@mixin text-align($align){
  text-align: $align;
}
@mixin position($position, $top, $right, $bottom, $left){
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin logo-card{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: auto;
  padding: 5px;
}
//pattern_class------------------------------------------------
.flex{
  display: flex;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-space-evenly{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.margin-5px{
  margin: 5px;
}
.margin-10px{
  margin: 10px;
}
.margin-20px{
  margin: 20px;
}
.margin-30px{
  margin: 30px;
}
.margin-40px{
  margin: 40px;
}
.margin-50px{
  margin: 50px;
}
.margin-60px{
  margin: 60px;
}
.margin-70px{
  margin: 70px;
}
.margin-80px{
  margin: 80px;
}
.margin-90px{
  margin: 90px;
}
.margin-100px{
  margin: 100px;
}

.margin-top-10px{
  margin-top: 10px;
}
.margin-top-20px{
  margin-top: 20px;
}
.margin-top-30px{
  margin-top: 30px;
}
.margin-top-40px{
  margin-top: 40px;
}
.margin-top-50px{
  margin-top: 50px;
}
.margin-top-100px{
  margin-top: 100px;
}

.margin-bottom-10px{
  margin-bottom: 10px;
}
.margin-bottom-20px{
  margin-bottom: 20px;
}
.margin-bottom-30px{
  margin-bottom: 30px;
}
.margin-bottom-40px{
  margin-bottom: 40px;
}
.margin-bottom-50px{
  margin-bottom: 50px;
}
.margin-bottom-100px{
  margin-bottom: 100px;
}

.margin-right-10px{
  margin-right: 10px;
}
.margin-right-20px{
  margin-right: 20px;
}
.margin-right-30px{
  margin-right: 30px;
}
.margin-right-40px{
  margin-right: 40px;
}
.margin-right-50px{
  margin-right: 50px;
}
.margin-right-70px{
  margin-right: 70px;
}

.margin-left-10px{
  margin-left: 10px;
}
.margin-left-20px{
  margin-left: 20px;
}
.margin-left-30px{
  margin-left: 30px;
}
.margin-left-40px{
  margin-left: 40px;
}
.margin-left-50px{
  margin-left: 50px;
}

.padding-5px{
  padding: 5px;
}
.padding-10px{
  padding: 10px;
}
.padding-20px{
  padding: 20px;
}
.padding-30px{
  padding: 30px;
}
.padding-40px{
  padding: 40px;
}
.padding-50px{
  padding: 50px;
}
.padding-60px{
  padding: 60px;
}
.padding-70px{
  padding: 70px;
}
.padding-80px{
  padding: 80px;
}
.padding-90px{
  padding: 90px;
}
.padding-100px{
  padding: 100px;
}

.width-100{
  width: 100%;
}
.width-form-result{
  width: calc(100% - 80px);
}
.width-80{
  width: 80%;
}
.width-75{
  width: 75%;
}
.width-70{
  width: 70%;
}
.width-60{
  width: 60%;
}
.width-50{
  width: 50%;
}
.width-40{
  width: 40%;
}
.width-30{
  width: 30%;
}
.width-25{
  width: 25%;
}
.width-20{
  width: 20%;
}
.width-10{
  width: 10%;
}


.text-10px{
  font-size: 10px;
}
.text-12px{
  font-size: 12px;
}
.text-14px{
  font-size: 14px;
}
.text-16px{
  font-size: 16px;
}
.text-18px{
  font-size: 18px;
}
.text-20px{
  font-size: 20px;
}

.block-phone{
  display: none;
}
.block-desktop{
  display: block;
}
.hidden{
  visibility: hidden;
}

.position-rel{
  position: relative;
}
.position-abs{
  position: absolute;
}