//variables
$window-color: #010C15;
$main-color: #011627;
$secondary-color: #4D5BCE;
$third-color: #FEA55F;
$fourth-color: #43D9AD;
$fifth-color: #E99287;
$border-color: #1E2D3D;
$white: #E5E9F0;
$error-color: #E53E3E;
$transparent: rgba(0, 0, 0, 0);

$css-color: #1572B6;
$scss-color: #CC6699;
$mysql-color: #4479A1;
$javascript-color: #F7DF1E;
$typescript-color: #3178C6;
$vuejs-color: #4FC08D;
$nodejs-color: #339933;
$expressjs-color: #000000;
$nuxtjs-color: #00C58E;
$nestjs-color: #E0234E;
$react-color: #61DAFB;
$nextjs-color: #000000;
$php-color: #777BB4;
$symfony-color: #919191;
$laravel-color: #FF2D20;
$threejs-color: #000000;
$unity-color: #ffffff;
$csharp-color: #239120;
$c-color: #A8B9CC;
$java-color: #007396;
$python-color: #3776AB;


$Fira-code: 'Fira Code', monospace;
$font-color: #607B96;